.rs-17 .rs-menu-form {
    position: relative;
}

.rs-17 .rs-menu-form__container {
    height: 130px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-menu-form__logo img {
    width: 100%;
}

.rs-17 .rs-menu-form__menu {
    margin-left: auto;
}

.rs-17 .rs-menu-form__burger {
    z-index: 9999999999;
    cursor: pointer;
    display: none;
}

.rs-17 .rs-menu-form__burger span {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-menu-form__burger span:not(:last-child) {
    margin-bottom: 3px;
}

.rs-17 .rs-menu-form__burger.active {
    position: fixed;
    top: 15px;
    left: 15px;
}

.rs-17 .rs-menu-form__burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.rs-17 .rs-menu-form__burger.active span:nth-child(2) {
    opacity: 0;
}

.rs-17 .rs-menu-form__burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.menu__list li {
    margin: 0px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu__list li:hover a {
    opacity: 1;
}

.menu__list li a {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.025em;
    font-weight: 300;
    color: #fff;
    opacity: 0.4;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}

.menu__actions {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__actions a {
    margin: 0px 5px;
}

.sticky .rs-menu-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sticky.out .rs-menu-form {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media (max-width: 991.98px) {
    .rs-17 .rs-menu-form__burger {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20px;
        margin-left: auto;
    }

    .menu {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #141c25;
        -webkit-transform: translate(-100%, 0px);
        transform: translate(-100%, 0px);
        transition: all 0.3s ease 0s;
        z-index: 999999999;
        padding: 50px 35px 30px 35px;
        overflow-y: auto;
    }

    .menu.active {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .menu__list {
        display: block;
        height: auto;
    }

    .menu__list li {
        margin-bottom: 15px;
        display: block;
        height: auto;
    }

    .menu__actions {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-menu-form__logo {
        width: 250px;
    }
}