@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Commissioner";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Commissioner";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    color: #fff;
    background: #141c25;
    font-size: 14px;
    font-weight: 400;
}

body._lock {
    overflow: hidden;
}

.wrapper,
.site {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container-fluid {
    max-width: 1600px;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

.page,
.site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

h2.section-title {
    position: relative;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
}

h2.section-title::after {
    content: '';
    width: 78px;
    height: 2px;
    background-color: #83cdf1;
    position: absolute;
    bottom: -10px;
    left: 0;
}

h2.section-title span {
    position: absolute;
    top: -25px;
    left: -66px;
    text-transform: uppercase;
    color: #141c25;
    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
    opacity: 0.1;
    font-size: 100px;
    line-height: 1;
    font-weight: 900;
}

.btn-link {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.btn-link::after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 21px;
    width: 44px;
    height: 44px;
    background-color: rgba(114, 118, 129, 0.14);
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 14px;
    transition: all 0.3s ease 0s;
}

.btn-link:hover,
.btn-link:focus {
    color: inherit;
    text-decoration: none;
}

.btn-link:hover::after {
    background-color: #fff;
    color: #727681;
}

.btn-lang .letter {
    opacity: 0.5;
}

.btn-lang.active .letter {
    opacity: 1;
}